* {
    box-sizing: border-box;
    font: inherit;
    font-weight: revert;
    font-style: revert;
    transition: background var(--defaultTransition);
}
@supports (-moz-appearance:none) {
    /* This causes a significant delay in webkit browsers between the background and text transitions*/
    * {transition: background var(--defaultTransition), color var(--defaultTransition), filter var(--defaultTransition)}
}
body.light-mode {
  --bgPrimary: #f2f2f2;
  --bgSecondary: #fff;
  --bgTertiary: #d7d7d7;
  --bgQuartary: #f9f9f9;
  --transparantWeak: rgba(0,0,0,0.04);
  --transparantMedium: rgba(0,0,0,0.1);
  --transparantStrong: rgba(0,0,0,0.3);
  --headings: #333;
  --textPrimary: #000;
  --textSecondary: #444;
  --textTertiary: #666;
  --textLink: #0077aa;
  /* if nothing else is suitable */
  --filter: invert(0);

    /* Prismjs, okaidia theme*/
    --prismjs-default: #f8f8f2;
    --prismjs-background: #272822;
    --prismjs-shadow: rgba(0, 0, 0, 0.3);
    --prismjs-comment: #708090;
    --prismjs-punctuation: #f8f8f2;
    --prismjs-property: #f92672;
    --prismjs-boolean: #ae81ff;
    --prismjs-selector: #a6e22e;
    --prismjs-operator: #f8f8f2;
    --prismjs-atrule: #e6db74;
    --prismjs-keyword: #66d9ef;
    --prismjs-regex: #fd971f;    
}body.dark-mode {
  -webkit-font-smoothing: antialiased;
  --bgPrimary: #222;
  --bgSecondary: #000;
  --bgTertiary: #282828;
  --bgQuartary: #111;
  --transparantWeak: rgba(255,255,255,0.08);
  --transparantMedium: rgba(255,255,255,0.1);
  --transparantStrong: rgba(255,255,255,0.3);
  --outlinePrimary: #fff;
  --headings: #ddd;
  --textPrimary: #fff;
  --textSecondary: #d7d7d7;
  --textTertiary: #aaa;
  --textLink: #6ab4d3;
  --filter: invert(1);

    /* Prismjs, slightly edited default theme */
    --prismjs-default: #000000;
    --prismjs-background: #f5f2f0;
    --prismjs-shadow: rgba(255, 255, 255, 0.3);
    --prismjs-comment: #647382;
    --prismjs-punctuation: #222222;
    --prismjs-property: #990055;
    --prismjs-boolean: #764dc0;
    --prismjs-selector: #690;
    --prismjs-operator: #a67f59;
    --prismjs-atrule: #8f680e;
    --prismjs-keyword: #0E7A90;
    --prismjs-regex: #ee9900;  
}
body{
    font-family: sans-serif;
    color: var(--primaryText);
    margin: 0;
    min-height: 100vh;
    background-color: var(--bgPrimary);
    position: relative;
    --defaultTransition: 350ms ease-in-out;
}
a{
    text-decoration: none;
    color: var(--textLink);
}
a:hover{text-decoration: underline;}
a:visited{ color:var(--textLink); }
button{
    all: unset;
    box-sizing: border-box;
}
/* button:focus { outline: solid 1px #000; } */
/* button::-moz-focus-inner { border: 0; } */
button:active{transform: scale(0.97);}
button:focus-visible{ outline: revert}
button:active{box-shadow: inset 0 0 10px 100px var(--transparantWeak);}
button:hover{ cursor: pointer;}
h1{
    margin: 25px auto;
    display: table;
    color: var(--headings);
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
h1 a{
    color: inherit;
    text-decoration: none;
}
h1 a:visited{
    color: inherit;
}
h1 a:hover{
     text-decoration: none;
}
h2 {
    color: var(--headings);
    font-size: 1.3em;
    font-weight: bold;
}
h3 {
    color: var(--textPrimary);
    font-size: 1.1em;
    font-weight: bold;
}
h4 {
    color: var(--textPrimary);
    font-size: 1em;
    font-weight: bold;
}
p{
    color: var(--primaryText);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.darkenOnHover:hover{ box-shadow: inset 0 0 10px 100px var(--transparantMedium); }
