/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
    color: var(--prismjs-default);
    background: none;
    text-shadow: 0 1px var(--prismjs-shadow);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: var(--prismjs-background);
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .2em;
    border-radius: .3em;
    white-space: normal;
    filter: invert(1);
    word-break: break-all;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--prismjs-comment);
}

.token.punctuation {
    color: var(--prismjs-punctuation);
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--prismjs-property);
}

.token.boolean,
.token.number {
    color: var(--prismjs-boolean);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--prismjs-selector);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: var(--prismjs-operator);
}

.token.atrule,
.token.attr-value,
.token.function {
    color: var(--prismjs-atrule);
}

.token.keyword {
    color: var(--prismjs-keyword);
}

.token.regex,
.token.important {
    color: var(--prismjs-regex);
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

/* Prompt for all users */
.command-line-prompt>span:before {
    content: "$ ";
}
