a:hover{
    text-decoration: none;
}

.card{
    border-bottom: 1px var(--textPrimary) solid;
}

.title{
    color: var(--textPrimary);
    font-weight: bold;
    text-decoration: underline rgba(255, 255, 255, 0);
    transition: text-decoration-color var(--defaultTransition), color var(--defaultTransition);
}

a:hover .title{
    text-decoration-color: var(--textPrimary);
}

.excerp{
    color: var(--textPrimary);
}

.date{
    color: var(--textTertiary);
}
