.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    filter: var(--filter);
}

/* TODO: make something that works with .darkenOnHover instead*/
.icon-clickable:hover{
    filter: invert(0.5);
}