.navbar-item{
    display: inline-block;
    width: 15%;
    min-width: 90px;
    height: 100%;
    text-align: center;
}

.link{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: var(--textSecondary);
}

.link:visited{ color:var(--textSecondary); }
