.navigation-bar{
    width: 100%;
    background: var(--bgSecondary);
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    white-space:nowrap;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
}

.navigation-bar-blog{
    height: 40px;
    line-height: 40px;
}

.blog-link {
    display: flex;
    min-width: fit-content;
    justify-content: left;
    height: 100%;
    padding: 0 1em;
    color: var(--textTertiary);
}

.blog-link:hover{
    text-decoration: none;
    color: var(--textPrimary);
}

.blog-link:visited {
    color: var(--textTertiary);
}

.expandable-content {
    display: flex;
    flex-direction: column;
    height: 0;
    width: 12em;
    background-color: var(--bgSecondary);
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
    opacity: 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

/* TODO: remove hard coded heights */
.expanded {
    opacity: 1;
    height: 400%;
}
.expandable-content-item {
    width: 100%;
    height: 25%;
    color: var(--textSecondary);
}

@media only screen and (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .hide-on-desktop {
        display: none;
    }
}