.navigation-bar{
    width: 100%;
    background: var(--bgSecondary);
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    white-space:nowrap;
    overflow-x: auto;
}

.button{
    color: var(--textSecondary);
    margin-right: 1em;
    padding: 0 1em;
    float: right;
}