.navigation-bar{
    width: 100%;
    background: var(--bgSecondary);
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    white-space:nowrap;
    overflow-x: auto;
    overflow-y: visible;
    display: flex;
    flex-direction: row;
}

.navigation-bar-blog{
    height: 40px;
    line-height: 40px;
}

.button{
    color: var(--textSecondary);
    margin-right: 1em;
    margin-left: auto;
    padding: 0 1em;
}

.blog-link {
    display: inline-block;
    min-width: fit-content;
    height: 100%;
    padding: 0 1.5em;
    color: var(--textSecondary);

}

.blog-link:hover{
    text-decoration: none;
    color: var(--textPrimary);
}

.blog-link:visited {
    color: var(--textSecondary);
}