.wrapper{
  display: flex;
  flex-flow: wrap;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  padding-bottom: 2em;
  background-color: var(--bgPrimary);
  color: var(--textPrimary);
}
.wrapper-item{
  flex: 1 100%;
}